/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  background: rgb(0, 29, 37);
  background: linear-gradient(
    200deg,
    rgba(0, 29, 37, 1) 35%,
    rgba(214, 0, 62, 1) 100%
  );
  background-attachment: fixed;
  font-family: "Orbitron", sans-serif;
}
